body {
	overflow-x:hidden;
}

li > a {
  text-transform: uppercase;
  color: white;
}

h1 {
  font-size: 46px;
  font-weight: 600;
  color: white;
}

h2 {
  color: black;
  font-weight: 700;
  font-size: 42px;
}

h3 {
  font-weight: bold;
  font-size: 19px;
}

h4 {
  font-weight: 600;
  font-size: 15px;
}

p {
  color: #bfbfbf;
}
ul {
  list-style-type: none;
}

/*Фон для первой части страницы */
#background {
  background: url('https://apod.nasa.gov/apod/image/0512/m31_gendler_Nmosaic1.jpg') no-repeat center; 
  width: 100%;
  margin-top: -80px;
  min-height: 700px;
}

#background h1 {
  margin-top: 300px;
}

.btnBlue {
  padding: 10px 35px;
  font-size: 12px;
  border-radius: 80px;
  float: left;
  margin-top: 20px;
}

.btnPhoneCall {
  padding: 12px 17px !important; 
  margin-top: 4px;
  border-radius: 90px;
  background: none;
  color: white;
}

.img-responsive {
  max-width: 65%;
}

/* Оформление второй части страницы. Правой и левой части */

.rightcolumn {
  padding: 100px 80px;
  background-color: white;
	
}

.rightcolumn {
  margin-top: 20px;
}


.btnReadmore {
  padding: 10px 30px;
  font-size: 11px;
  border-radius: 80px;
  margin: 20px 20px;
  background: none;
  color: gray;
}

.leftcolumn {
  background-color: #2e5cb8;
  padding-top: 80px;
  text-align: center;
}

/*Офомрление описания и положения картинки для списка под второй частью страницы*/

.caption p {
  text-align: center;
  color: gray;
  padding-top: 15px;
}

.imageslist li {
  display: inline;
  padding: 50px 60px 10px 0px;
  float: left;
  width: 220px;
}

.imageslist li img {
  width: 100%;
}

/*Конец офомрления описания и положения картинки для списка под второй частью страницы*/


/*Третья часть страницы*/
.news {
  margin: 70px 50px 50px;
}
/* Стили для первой большой картинки*/

.firstimage {
  background: url('https://www.nasa.gov/sites/default/files/styles/946xvariable_height/public/potw1418a.jpg?itok=yr39EqAt') no-repeat;
}

.firstimage h1 {
  padding-top: 310px;
  font-size: 27px;
  padding-left: 50px;
}
.firstimage h1 span {
  font-size: inherit;
  display: inline-block;
  padding-top: 10px;
}

.firstimage p {
  padding: 15px 50px 50px;
}

/*Стили для второй и третьей картинок*/
.secondimage {
  width: 344.5px !important;
  height: 270px !important;
  padding: 0px !important;
}

.thirdimage {
  width: 344.5px !important;
  height: 270px !important;
  padding-top: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

/*Описание под картинками третьей части*/
.description {
  padding-left: 35px;
}

.description a {
  padding-top: 20px;
  display: block;
  font-size: 11px;
  font-weight: bold;
}

.description p {
  padding-top: 10px;
}

/*Стили для будущего слайдера в четвертой части страницы*/

.about {
  float: left;
  margin: 70px 50px 30px;
}

.left-icon {
  float: left;
  padding: 320px 30px 0px 30px;
}

.right-icon {
  float: left;
  padding: 320px 30px 0px 30px;
}

.slider {
  height: 650px;
  margin: auto;
}

.slider-img {
  width: 88%;
  height: 620px;
  float: left;
}

/*Пятая часть страницы с формой поиска городов и контактами*/

.diler {
  padding: 70px 0px 30px;
}

form {
  width: 40%;
  margin-bottom: 30px;
}

.col-sm-8 img {
  width: 790px;
  height: 620px;
}

.btn {
  padding: 5.5px 12px;
}

.fixed-btn {
  border: none;
  border-bottom: 3px solid #ccc;
}

.contacts a:last-of-type {
  margin-top: 34px;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
}

footer {
  padding-top: 150px;
}

.number {
  float: right;
  margin-top: 40px;
  padding-right: 50px;
} 

footer p {
  float: left;
  padding-right: 250px;
  font-size: 11px;
  color: gray;
}

.footer-nav li a{
  color: gray;
  padding: 0px 15px;
}

